body {
    background-color: hsl(49, 19%, 88%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 90%; /* Ajustement pour les écrans plus petits */
    max-width: 1100px; /* Largeur maximum pour les grands écrans */
    height: 960px;
    border: 1rem solid rgb(245, 245, 220);
    border-radius: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    cursor: crosshair;
    width: 100%;
    height: 100%;
}

.element {
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, transform 0.3s;
}

.element:hover {
    border-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.05); /* Légère réduction de l'agrandissement */
}

.content1 {
    background-color: gray;
    border-radius: 16px;
    min-height: 900px;
    width: 100%; /* Largeur adaptative */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(252, 248, 248, 0.05);
    color: white;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Largeur complète */
    padding: 16px;
}

.input {
    margin-left: 50px;
}

.profile-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 100%;
    height: auto;
}

.money {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 50px;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid;
    border-image: linear-gradient(45deg, #00bfff, #8a2be2) 1;
}

.block {
    display: flex;
    flex-direction: column; /* Colonne par défaut */
    align-items: center; /* Centre le contenu */
    min-width: 100%; /* Largeur complète */
    margin-top: auto;
}

.lien {
    width: 50px;
}

.link {
    display: flex;
    flex-direction: row; /* Disposition horizontale */
    margin-left: 5px;
}

.i-logo {
    width: 50px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.input1 {
    border-radius: 12px;
    border: transparent;
    background-color: white;
    color: gray;
    width: 300px;
    height: 20px;
    padding: 10px;
}

.input1::placeholder {
    color: gray;
}

.money-title {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.money-val {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.para {
    display: flex;
    width: 90%; /* Largeur adaptative */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Custom Slider Styles */
#slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Custom Toggle Button Styles */
#toggleButton {
    background-color: beige;
    border: none;
    color: gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 34px;
    transition: background-color 0.3s;
    font-size: 15px;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Colonne sur petits écrans */
        align-items: flex-start; /* Aligne les éléments à gauche */
    }

    .input {
        margin-left: 0; /* Supprime la marge sur petits écrans */
        margin-bottom: 10px; /* Ajoute de l'espace en bas */
    }

    .money {
        margin-right: 0; /* Supprime la marge sur petits écrans */
    }

    .para {
        flex-direction: column; /* Colonne sur petits écrans */
        align-items: flex-start; /* Aligne les éléments à gauche */
    }

    .container {
        width: 100%; /* Utilise toute la largeur */
        height: auto; /* Hauteur auto */
    }
}
